
.products {
    display: flex;
    flex-direction: column;
}

.product__footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

@media screen and (min-width: 769px) {
    .products {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .product {
        width: 32%;
    }

    .product:nth-child(3n+2) {
        margin-left: 2%;
        margin-right: 2%;
    }
}