
.post__content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section__header .section__title {
    font-size: 24px;
}

.post .post__name {
    font-size: 21px;
}

@media screen and (max-width: 481px) {

    .section__header .section__title {
        font-size: 20px;
    }

    .post .post__name {
        font-size: 18px;
    }

}
