
.post__name {
    margin: auto;
}

@media (max-width: 480px) {

    .section__header {
        font-size: 13.34px;
    }

    .post {
        font-size: 15.39px;
    }

}

@media (min-width: 481px) {
    .section__header {
        font-size: 16px;
    }

    .post {
        font-size: 17px;
    }
}
