
.post__name {
    margin: auto;
}

@media (max-width: 481px) {

    .section__header {
        font-size: 10px;
    }

    .post {
        font-size: 12px;
    }

}

@media (min-width: 481px) {
    .section__header {
        font-size: 12px;
    }

    .post {
        font-size: 14px;
    }
}
